<form action="/add_bookmarks" method="post">
  <label> Title <input type="text" name="title" placeholder="Title"> </label><br>
  <label> Bookmark URL <input name="url" type="text" placeholder="Bookmark URL"> </label>
  <input type="submit" value="Add">
</form>
